
<div class="input-group">
    <div class="input-group-text">
        <form action="/todo-list/{{todo._id}}" method="POST">
            <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} onChange="this.form.submit()" class="form-check-input mt-0" style="vertical-align: middle;">
        </form>
    </div>
    <form action="/todo-list/{{todo._id}}?_method=DELETE" method="POST" ></form>
        <input type="text" name="name" value="{{todo.name}}" disabled class="form-control">
        <a href="/todo-list/{{ todo._id }}/edit" class="btn btn-success">Edit</a> 
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
<div class="mb-3">
    <label for="description">Detail description</label>
    <textarea name="description" id="description" cols="30" rows="10" class="form-control" disabled>{{todo.description}}</textarea>
</div>